
@{
    ViewBag.Title = "Dashboard Super Admin";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<h2>6 Weeks Challenge Administrator</h2>
<div class="row">
    <div class="col-md-12" ng-controller="academyController">
        <h3>Academies</h3>
        <form class="form-inline">
            <button type="submit" class="btn btn-default" ng-click="new()">New Academy</button>
        </form>
        <hr />
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Active</th>
                    <th>Email manager</th>
                    <th>Logo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="academy in academies">
                    <td>{{academy.Name}}</td>
                    <td>{{academy.Address}}</td>
                    <td>{{academy.State}}</td>
                    <td>{{academy.EmailManager}}</td>
                    <td><img ng-src="{{academy.UrlLogo}}" height="80" /></td>
                    <td>
                        <div>
                            <button type="button" class="btn btn-xs" ng-click="delete(academy._id)" confirm="Are you sure that you want delete {{academy.Name}}?"  confirm-settings="{size: 'sm'}">
                                <i class="glyphicon glyphicon-remove" tooltip="Delete academy" tooltip-placement="right"></i>
                            </button>
                            <button type="button" class="btn btn-xs" ng-click="activate(academy._id)" confirm="Are you sure that you want activate {{academy.Name}}?" confirm-settings="{size: 'sm'}">
                                <i class="glyphicon glyphicon-check" tooltip="Activate academy" tooltip-placement="right"></i>
                            </button>
                            <button type="button" class="btn btn-xs" ng-click="edit(academy)">
                                <i class="glyphicon glyphicon-edit" tooltip="Edit academy" tooltip-placement="right"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <script type="text/ng-template" id="searchbox.tpl.html">
                <div class="form-group">
                    <input type="text" class="form-control" id="txtAddressBox" placeholder="Search Box" ng-model="$parent.academy.Address">
                </div>
            </script>
            <script type="text/ng-template" id="myModalContent.html">
                <form name="academyForm" ng-submit="submitForm(academy)" novalidate>
                    <div class="modal-header">
                        <h3 class="modal-title">Academy</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : academyForm.Name.$invalid && !academyForm.Name.$pristine }">
                                    <label for="txtNameBox">Name academy</label>
                                    <input type="text" class="form-control" id="txtNameBox" name="Name" placeholder="Name academy" ng-model="academy.Name" required>
                                    <p ng-show="academyForm.Name.$invalid && !academyForm.Name.$pristine" class="help-block">The academy name is required.</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : academyForm.Email.$invalid && !academyForm.Email.$pristine }">
                                    <label for="txtEmailManager">Email manager</label>
                                    <input type="email" class="form-control" id="txtEmailManager" name="Email" placeholder="Email manager" ng-model="academy.EmailManager" required>
                                    <p ng-show="academyForm.Email.$invalid && !academyForm.Email.$pristine" class="help-block">A valid email is required.</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
         
                                    <label>
                                        {{academy.State}}
                                    </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group" ng-class="{ 'has-error' : academyForm.Email.$invalid && !academyForm.Email.$pristine }">
                                    <label for="txtShortName">Short name academy</label>
                                    <input type="text" class="form-control" id="txtShortName" name="ShortName" placeholder="Short name academy" ng-model="academy.ShortName" required>
                                    <p ng-show="academyForm.ShortName.$invalid && !academyForm.ShortName.$pristine" class="help-block">A short name is required.</p>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <button class="btn btn-info" ngf-select="upload($file)" accept="image/*" ngf-max-size="1MB" type="button">Upload logo academy</button>
                                        </div>
                                        <progressbar class="progress-striped active" value="uploadProgress" type="success"><b>{{uploadProgress}}%</b></progressbar>
                                    </div>
                                    <div class="col-sm-8">
                                        <img ng-src="{{academy.UrlLogo}}" height="80" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="txtAddressBox">Address</label>
                                    <div id="divTextMap">
                                    </div>
                                    <br />
                                    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                                        <ui-gmap-search-box template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>
                                        <ui-gmap-marker coords="marker.coords" idkey="marker.id">
                                        </ui-gmap-marker>
                                    </ui-gmap-google-map>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" ng-disabled="boxForm.$invalid">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </script>
        </div>

    </div>
</div>
@*<div class="row">
    <div class="col-md-12" ng-controller="userController">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="user.Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Roles</label>

                <p class="help-block">Example block-level help text here.</p>
            </div>
            <button type="submit" class="btn btn-default" ng-click="create(user)">Create User</button>
        </form>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Confirmed</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.Email}}</td>
                    <td>{{user.EmailConfirmed}}</td>
                    <td>
                        <ul>
                            <li ng-repeat="rol in user.Roles">
                                {{rol}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="delete(user._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>*@

@section styles {
    <style>
        .angular-google-map-container {
            height: 200px;
        }

        .pac-container {
            z-index: 1051 !important;
        }
    </style>
}

