<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="challenge" type="Challenge.Core.Configuration.ChallengeSettings, Challenge.Core"/>
  </configSections>
  <challenge dbConnection="mongodb://localhost:27017" dbName="challenge" awsAccessKeyID="AKIAJDM4MVKTULA4W6ZQ" awsSecretAccessKey="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">
    <awsS3Upload url="https://6weekschallenge-dev.s3.amazonaws.com/" keyFormat="" policy="{
  &quot;expiration&quot;: &quot;[[DATE]]&quot;,
  &quot;conditions&quot;: [
    {&quot;bucket&quot;: &quot;6weekschallenge-dev&quot;},
    [&quot;starts-with&quot;, &quot;$key&quot;, &quot;images/&quot;],
    {&quot;acl&quot;: &quot;public-read&quot;},
    [&quot;starts-with&quot;, &quot;$Content-Type&quot;, &quot;image/&quot;],
    [&quot;starts-with&quot;, &quot;$filename&quot;, &quot;&quot;],
    [&quot;content-length-range&quot;, 0, 10485760]
  ]
}" />
  </challenge>
</configuration>